.navbar{
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 150px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap:20px;
    font-size: 18px;
    color: #49557e;
    cursor: pointer;
}
.navbar-right{
    display: flex;
    gap: 40px;
    align-items: center;
}
.navbar button{
    background: transparent;  
    font-size: 16px; 
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.navbar button:hover{
    background-color: tomato;
    color: white;
}
.navbar-menu .active{
    color: tomato;
    font-weight: 600;
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-height: 10px;
    min-width: 10px; 
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
    
}