.footer{
    display: flex;
    color: #fffcfc;
    background-color: rgb(49, 48, 48);
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 20px 8vw;
    padding-top: 80px;
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 0fr 1fr;
    gap: 80px;
}
.footer-content-left, .footer-content-right, .footer-content-center{
    display: flex;
    flex-direction:column ;
    align-items: start;
    gap: 20px;
} 
.footer-content-center li, .footer-content-left li,  .footer-content-right li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}
.footer-content-left h2, .footer-content-center h2{
    color: white;
}
.footer-social-icon img{
    width: 40px;
    margin-right: 15px;
    cursor: pointer;
}
.footer hr{
    width: 100%;
    height: 1px;
    margin: 20px 0;
    border: none;
    background-color: grey;
}